# --- CONFIGURATION COMMUNE
DB_USERNAME=postgres
DB_PASSWORD= votre mote de passe

# --- USER SERVICE ---
DB_USER_URL=jdbc:postgresql://localhost:5432/humble_user_db

# --- PRODUCT SERVICE ---
DB_PRODUCT_URL=jdbc:postgresql://localhost:5432/humble_product_db